.global{
    max-width: 1100px;
    padding: 10vh 5vw;
    
}
.form-container {
    display: flex;
    justify-content: center;
    margin-top: -40px;
}
.form-box {
    width: 80%;
    background: rgb(192, 253, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.form-box form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.form-box input, .form-box button {
    flex: 1;
    padding: 10px;
    border: 1px solid #08deff;
    border-radius: 5px;
}
.form-box button {
    background: white;
    color: rgb(0, 0, 0);
    border: 1px solid #08deff;
    cursor: pointer;
}